BasedOnStyle: llvm
AlignConsecutiveAssignments: AcrossComments
AlignConsecutiveMacros: AcrossComments
AlignConsecutiveDeclarations: true
IndentCaseLabels: true
AllowShortIfStatementsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
ColumnLimit: 81
